registry=https://theling-npm.pkg.coding.net/prepayment-serve/interface-yfs/
always-auth=true
//theling-npm.pkg.coding.net/prepayment-serve/interface-yfs/:username=interface-yfs-1585650597910
//theling-npm.pkg.coding.net/prepayment-serve/interface-yfs/:_password=YzY5YThmYTQ2M2Y1NzM2NzFiNzczODc3Y2I3MzZlNDZkNDZkZGU4OQ==
//theling-npm.pkg.coding.net/prepayment-serve/interface-yfs/:email=zhouqian@jyfwyun.cn